name: build-image

on:
  workflow_dispatch:
  
jobs:
  setup:
    name: Build Container Image
    runs-on: ubuntu-latest
    #permissions:
      #packages: read/write
      #contents: read
    env:
      KO_DOCKER_REPO: ghcr.io/${{ github.repository_owner }}/miniprow
      TAG: ""

    steps:

      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: sigstore/cosign-installer@c3667d99424e7e6047999fb6246c0da843953c65 # v3.0.1

      - uses: imjasonh/setup-ko@v0.6
        with:
          version: v0.12.0
      
      - name: Read Tag
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "TAG=${GITHUB_REF#refs/*/}" >> "$GITHUB_ENV"

      - name: Get Short Commit SHA
        run: |
          echo ${GITHUB_REF}
          echo "GIT_VERSION=$(git rev-parse --short HEAD)" >> "$GITHUB_ENV"

      - name: Print info
        run: echo "Version ${{ env.GIT_VERSION }} / Git Commit ${{ env.GIT_COMMIT }} Tag ${{ env.TAG }}"

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
          check-latest: true

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build Release
        if: ${{ env.TAG != '' }} 
        run: |
          ko build --bare ./actions/broker/ -t latest -t ${{ env.TAG }} -t ${{ env.GIT_VERSION }} --platform=linux/amd64
        
      - name: Build Canary
        if: ${{ env.TAG == '' }}
        run: ko build --bare ./actions/broker/ -t canary -t ${{ env.GIT_VERSION }} --platform=linux/amd64
