on:
  push:
    tags:
      - 'v*'
    branches:
      - master
      - main
  workflow_dispatch: {}

name: Build miniprow image

concurrency: imagebuild

env:
  TAG: ""
  STEM: 1
#  GO_VERSION: 1.18

jobs:
  melange:
    name: Build miniprow OCI image
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      packages: write
      contents: read

    steps:
    - name: Set Version Tag
      if: startsWith(github.ref, 'refs/tags/v')
      run: echo "TAG=${GITHUB_REF#refs/*/}" >> "$GITHUB_ENV"
    - name: Read Canary Tag
      if: startsWith(github.ref, 'refs/tags/v') != true
      run: |
        echo "TAG=canary" >> "$GITHUB_ENV"
        echo "STEM=0" >> "$GITHUB_ENV"
    
    - uses: actions/checkout@v3    
    #- uses: sigstore/cosign-installer@main
    - name: Setup QEMU
      uses: docker/setup-qemu-action@v1.2.0
    - uses: chainguard-dev/actions/melange-build@main
      with:
        config: melange.yaml
        archs: x86_64,aarch64
        sign-with-temporary-key: true
    - uses: chainguard-images/actions/apko-publish@main
      with:
        config: apko.yaml
        tag: ghcr.io/${{ github.repository_owner }}/miniprow:${{ env.TAG }}
        image_refs: images.txt
        keyring-append: /github/workspace/melange.rsa.pub
        archs: x86_64,aarch64
        package-version-tag-stem: ${{ env.STEM }}

